*{
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #22254b;
  font-family: 'Poppins', sans-serif;
  margin: 0;

}

.root{
  display: flex;
  flex-direction: column;
}

.movie{
  background-color: #373b69;
  width: 250px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;

}

.movie img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3{
  margin: 0;
}

.movie-over{
  position: absolute;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #22254b;
  padding: 1rem;
  overflow:auto;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.movie:hover .movie-over{
  transform: translateY(0%);

}

header{
  background-color: #373b69;
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
}

.search{
  border: 2px solid;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
}

.search:active{
  outline: 0;
}

.tag{
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green{
  color: green;

}

.tag.orange{
  color: orange;
  
}

.tag.red{
  color: red;
  
}